@import 'normalize.css';
@import 'assets/css/variables.css';
@import 'assets/css/option-groups.css';
@import 'assets/css/buttons-container.css';
@import 'highlight.js/styles/atom-one-dark.css';


body {
  background: #222;
  color: #fff;
  font-family: "DroidSans";
}

#app {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.viewport {
    width: 100%;
    /* float: left; */
    grid-column: span 4;


    .__hideCursor {
        cursor: none;
    }

    > [ratio="1x1"] {
        margin: auto;
        max-width: calc(80vh - 64px);
    }
}

.sidebar {
    width: 100%;
    padding-top: 8px;
    float: left;
    grid-column: span 2;
}


.viewport-content {
    background-color: #fff;
    width: 100%;
    border-radius: 8px;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,.16);

    &[ratio="1x1"] {
        aspect-ratio: 1;
    }
}

.canvas-view {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;

    canvas {
        width: 100%;
        display: block;
    }
}

.title {
    grid-column: span 6;
}

h1 {
    font-family: "Fixedsys"
}

* {
    box-sizing: border-box
}

a {
    color: var(--accentColor);
    filter: hue-rotate(16deg);
    transition: .32s all linear;
    transition-timing-function: linear(0, 0.029 0.8%, 0.13 1.8%, 0.908 7.2%, 1.051 9.1%, 1.112 11.2%, 1.116 12.2%, 1.106 13.4%, 1.007 19.5%, 0.987 23.1%, 1.001 35%, 1);
    &:hover, &:focus {
        filter: hue-rotate(0)
    }
}


input:-webkit-autofill {
  background-color: #fff;
}

/* selection */
::selection {
  background: var(--accentColor);
  color: #333;
}

::-moz-selection {
  background: var(--accentColor);
  color: #333;
}


@font-face {
font-family: Fixedsys;
src: url("/src/assets/fonts/fixed-sys.otf");
}

@font-face {
    font-family: DroidSans;
    src: url("/src/assets/fonts/DroidSans.otf");
}
@font-face {
    font-family: DroidSans;
    font-weight: bold;
    src: url("/src/assets/fonts/DroidSans-Bold.otf");
}


/* main router outlet */
.app {
  height: 100%;
  position: relative;
}
.outlet-full {
    overflow-y: auto;
    display: flex;
    transition: width ease 0.24s;
    width: 100%;
    height: 100dvh;
    opacity: 1; transform: translateY(0);
    padding-bottom: 80px;
    
    > * {
        margin: 0 32px 32px 64px;
        width: calc(100% - 96px);
        min-height: calc(100vh - 32px)
    }
}


.button {
    color: #eee;
    background-color: var(--accentColor);
    border: 0 none transparent;
    padding: 8px 16px;
    transition: .16s all ease;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}